<div style="font-family: Arial, sans-serif; padding: 20px;">
    <h2 style="color:#007bff;">Welcome, <%= name %> 🎉</h2>
    <p>Thanks for signing up, your otp is : <b> <%= otp %></b>.</p>
    <p>We’re excited to have you on board.</p>
    <p>Best regards,<br>The MyApp Team</p>
</div>
  